{% extends "split/base.html" %}

{% block content %}
  {% if experiments %}
    <div class="alert alert-info">
      The list below contains all the registered experiments along with the number of test participants, completed and conversion rate currently in the system.
    </div>
    {% for experiment in experiments %}
      {% include "split/_experiment.html" %}
    {% endfor %}
    <div class="modal hide fade in" id="modal-confirm-reset">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Confirm reset</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete all data for this experiment?</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger">Reset data</a>
        <a href="#" class="btn" data-dismiss="modal">Don't reset</a>
      </div>
    </div>
    <div class="modal hide fade in" id="modal-confirm-delete">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Confirm delete</h3>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this experiment and all its data?</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-danger">Delete</a>
        <a href="#" class="btn" data-dismiss="modal">Don't delete</a>
      </div>
    </div>
    <div class="modal hide fade in" id="modal-confirm-winner">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Confirm winner</h3>
      </div>
      <div class="modal-body">
        <p>This alternative will be returned for all users. Are you sure you want to set this alternative as the winner?</p>
      </div>
      <div class="modal-footer">
        <a href="#" class="btn btn-success">Use this</a>
        <a href="#" class="btn" data-dismiss="modal">Don't use this</a>
      </div>
    </div>
  {% else %}
    <p class="lead">No experiments have been started yet. You need to define them in your code and introduce them to your users.</p>
    <p class="lead">Check out <a href="https://flask-split.readthedocs.io/">the documentation</a> for more help getting started.</p>
  {% endif %}
{% endblock %}
